<!DOCTYPE HTML>
<html>

<head>
	<title>A H T M O S</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="assets/images/logoProvisionalSinFondo.png" type="image" sizes="16x16">
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="logo">
				<span><img class="logo-img" src="assets/images/lg-11.png" alt="Logo Image"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>Centro Estudios Athmos</h1>
					<p>
						En ATHMOS, centro de estudios en Castellón, te ayudamos a mejorar en ciencias y otras
						asignaturas
						<br>
						con clases personalizadas y un seguimiento cercano.
					</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#bio">Servicios</a></li>
					<li><a href="#gallery">Quienes somos</a></li>
					<li><a href="#vlogs">Nuestro metodo</a></li>
					<li><a href="#events">Donde estamos</a></li>
					<li><a href="#contact">Contacto</a></li>
				</ul>
			</nav>
			<nav>
				<ul>
					<li><a href="#login">LogIn Profesorado</a></li>
				</ul>
			</nav>
		</header>


		<!-- Main -->
		<div id="main">

			<!-- Intro -->
			<article id="bio">
				<h2 class="major">Servicios</h2>
				<p><strong>PRIMARIA</strong><br>
					Aprendizaje mediante el juego y la creatividad. Apoyo en deberes, preparación de exámenes y refuerzo
					general de asignaturas.
					<br><strong>SECUNDARIA</strong><br>
					Enseñanza de técnicas de estudio, organización y concentración. Refuerzo en asignaturas como
					Matemáticas, Física, Química, Biología, Inglés, Lengua, Historia y Geografía. Preparación de
					exámenes y planificación académica.
					<br><strong>BACHILLERATO</strong><br>
					Cursos intensivos y preparación para la universidad. Asignaturas ofrecidas:
					<br>
					Matemáticas (todas sus variantes), Física y Química, Biología
					<br>
					<a style="font-size: smaller;">(Otras asignaturas bajo consulta con el profesorado).</a>
					<br><strong>UNIVERSIDAD</strong><br>
					Apoyo en asignaturas del Grado en Química y del Máster en Química Aplicada y Farmacológica (UJI):
					<br>
					Química I, II, Inorgánica, Orgánica, Analítica y Física
					<br>
					<a style="font-size: smaller;">(Consultar previamente con el profesorado).</a>
					<br><strong>CICLOS FORMATIVOS</strong><br>
					Preparación para pruebas de acceso a:
					<br>
					Grado Medio, Grado Superior, Titulación de la ESO
					<br>
					Incluye planificación, gestión del tiempo y práctica con exámenes anteriores.
					<br><strong>ESCOLA D’ESTIU</strong><br>
					Repaso de cursos anteriores, preparación del nuevo curso, talleres, juegos, lectura y escritura,
					desarrollo de habilidades, y preparación para Bachillerato y exámenes oficiales.
				</p>
			</article>

			<!-- Work -->
			<article id="gallery">
				<h2 class="major">Quienes somos</h2>
				<p>¡Bienvenidos a ATHMOS, un centro de estudios en Castellón de la Plana especializado en ciencias,
					dirigido por una profesora apasionada por la enseñanza. En ATHMOS se imparten clases de química,
					física, matemáticas, biología, así como otras asignaturas generales como inglés, lengua e historia,
					adaptadas a las necesidades de cada alumno.</p>
				<p>Los grupos son reducidos para asegurar una atención más personalizada. Se ofrece un amplio rango de
					clases, desde las 14:30 hasta las 21:30, y por las mañanas bajo demanda.
					Durante la época de exámenes, se lleva a cabo un horario intensivo y se abren algunos fines de
					semana para sacar el mejor potencial de cada alumno. Además, contamos con una biblioteca propia que
					los estudiantes pueden utilizar para sus estudios.</p>
				<p>En ATHMOS, se realiza un seguimiento personal de cada alumno, acompañando a las familias en todo
					momento del proceso educativo y asegurando que cada estudiante reciba el apoyo necesario para
					alcanzar su máximo rendimiento académico</p>
			</article>

			<!-- About -->
			<article id="vlogs">
				<h2 class="major">Nuestro Metodo</h2>
				<p>
					En nuestro centro, las clases se imparten en grupos reducidos de 3 hasta , máximo, 5 personas.
					Atendemos a las necesidades de cada alumno de manera individual y especializada. Se imparten,
					si es necesario, también, clases particulares.
					<br><br>
					Se hace una evaluación inicial de alumno para así establecer unos objetivos y poder trabajarlos
					a lo largo del curso. Al finalizar cada trimestre, se realiza una reunión padres-alumno-dirección
					del centro con el fin de poder comprobar que los resultados obtenidos son los esperados.
					<br><br>
					La comunicación del centro con las familias y los centros de enseñanza es fundamental para nosotros.
					Además, los clientes del centro disponen de una biblioteca propia de la que se puede hacer uso de
					lunes a viernes de 15:30 a 21:30 con fines meramente educativos.
				</p>
			</article>

			<!-- Events -->
			<article id="events">
				<h2 class="major">Donde estamos</h2>
				<iframe class="image main"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1835.2456357688045!2d-0.04688163033673323!3d39.97681409821963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6000834e49fd8d%3A0x4b65bbc21cdddc25!2sAv.%20de%20Almazora%2C%2038b%2C%2012005%20Castell%C3%B3n%20de%20la%20Plana%2C%20Castell%C3%B3n!5e1!3m2!1ses!2ses!4v1744367340345!5m2!1ses!2ses"
					width="747" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade">
				</iframe>
				<p>Visítanos en Av. de Almazora 38, Castellón de la Plana. ¡Te esperamos!</p>
			</article>

			<!-- Contact -->
			<article id="contact">
				<h2 class="major">Contacto</h2>
				<div class="social-login">
					<p>Contactanos a traves de nuestras redes sociales</p>
					<ul>
						<li class="fb"><a href="#">Facebook</a></li>
						<li class="instagram"><a href="#">Instagram</a></li>
						<li class="whatsApp"><a href="#">WhatsApp</a></li>

					</ul>
				</div>
			</article>

			<!-- Log In -->
			<article id="login">
				<h2 class="major">LogIn</h2>
				<div class="social-login">
					<ul>
						<li class="google"><a href="#">Google</a></li>
						<li class="fb"><a href="#">Facebook</a></li>
					</ul>
				</div>
				<form method="post" action="#">
					<div class="fields">
						<div class="field half">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" placeholder="Enter your email">
						</div>
						<div class="field half">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" placeholder="Enter your password">
						</div>
					</div>
					<ul class="actions">
						<li><a href="dashboard.html"><input type="button" value="Log In"></a></li>
						<li><a href="register.html"><input type="button" value="register"></a></li>
					</ul>
				</form>
			</article>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; 2025 Fran Braulio. Powered by: <a href="https://github.com/FranBraulio"
					target="_blank">Fran Braulio</a>.</p>
		</footer>

	</div>

	<!-- BG -->
	<div id="bg"></div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>